// 公共声明
@main_dark: #242031;
@main_red: #f3243c;
@main_deepRed: #a71828;
@min_width: 1400px;
// 页面样式
body {
  background-color: @main_dark;
}
.main {
  width: 100%;
  min-width: @min_width;
  height: auto;
  background: url(../img/bg.png) 100% top no-repeat;
  padding: 102px 0 0 0;
  overflow: hidden;
  .bg {
    width: 100%;
    min-width: @min_width;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    .wrapper {
      width: 1050px;
      height: auto;
      margin: 0 auto;
      color: #fff;
      .title {
        margin: 80px 0 0;
        font-family: '微软雅黑', '苹方-简', sans-serif;
        font-size: 22px;
        color: #fff;
        text-align: center;
      }
      .info {
        color: #999;
        font-size: 12px;
        margin: 16px 0 40px;
        text-align: center;
      }
      .container {
        background-color: #fff;
        color: #000;
        overflow: hidden;
        .headimg {
          display: block;
          width: 100%;
          height: 590px;
        }
        .section {
          width: 1050px;
          margin: 0 auto;
          .article {
            padding: 45px 45px 60px;
            font-size: 18px;
            line-height: 40px;
            // font-weight: lighter;
            p {
              line-height: 40px;
              text-align: justify;
              margin: 30px 0;
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
    .otherFreqTitle {
      color: #fff;
      font-size: 22px;
      width: 1050px;
      margin: 80px auto 40px;
    }
    .guessyoulike {
      height: 272px;
      width: 1050px;
      margin: 0 auto 100px;
      .item {
        display: inline-block;
        width: 239px;
        height: 272px;
        margin: 0 30px 0 0;
        vertical-align: middle;
        position: relative;
        .itemMask {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          bottom: 0;
          left: 0;
          display: none;
        }
        img {
          width: 100%;
          height: 182px;
          display: block;
        }
        .desc {
          padding: 16px;
          height: 90px;
          width: 100%;
          background-color: #fff;
          .title {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: #000;
          }
          .date {
            margin: 5px 0 0;
            color: #bfbfbf;
            font-size: 12px;
          }
        }
        &:hover {
          .itemMask {
            display: block;
          }
        }
      }
      .item:last-child{
        margin: 0;
      }
    }
  }
}