// 公共声明
@main_dark: #242031;
@main_red: #f3243c;
@main_deepRed: #a71828;
@min_width: 1400px;
// 页面样式
body {
  background-color: @main_dark;
}
.main {
  width: 100%;
  min-width: @min_width;
  height: auto;
  background: url(../img/bg.png) 100% top no-repeat;
  padding: 100px 0 0 0;
  overflow: hidden;
  .bg {
    width: 100%;
    min-width: @min_width;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    .wrapper {
      width: 1050px;
      height: auto;
      margin: 0 auto;
      color: #fff;
      .title {
        margin: 80px 0 45px 0;
        font-family: '微软雅黑', '苹方-简', sans-serif;
        font-size: 22px;
        color: #fff;
      }
      .container {
        background-color: #fff;
        color: #000;
        overflow: hidden;
        padding: 0 0 102px 0;
        .headimg {
          display: block;
          width: 100%;
          height: auto;
          display: block;
        }
        .section {
          width: 960px;
          margin: 0 auto;
          .article {
            padding: 45px 0 72px;
            font-size: 18px;
            color: #020202;
            p {
              text-indent: 40px;
              line-height: 38px;
              text-align: justify;
              margin: 30px 0;
              &:first-child {
                margin-top: 0;
              }
            }
          }
          .enterHome {
            display: block;
            width: 150px;
            height: 45px;
            margin: 0 auto 110px;
            line-height: 45px;
            text-align: center;
            font-size: 18px;
            color: #fff;
            background-color: @main_deepRed;
          }
          .handler {
            padding: 0 0 22px 0;
            font-size: 18px;
            width: 960px;
            margin: 0 auto;
            color: #333;
            font-weight: bold;
            border-bottom: 1px solid #bdbdbd;
          }
          .star {
            width: 100%;
            height: 255px;
            margin: 37px 0 0 0;
            img {
              width: 180px;
              height: 255px;
              vertical-align: bottom;
            }
            .info {
              display: inline-block;
              margin: 0 0 0 30px;
              width: 750px;
              height: 255px;
              p {
                color: #666;
                font-size: 14px;
                margin: 0 0 2px 0;
              }
              .desc {
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }
              .name, .desc, .recommand {
                margin: 0 0 28px 0;
              }
              .name {
                color: #000;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .otherFreqTitle {
      color: #fff;
      font-size: 22px;
      width: 1050px;
      margin: 80px auto 40px;
    }
    .otherFreq {
      height: 310px;
      width: 100%;
      min-width: 1172px;
      margin: 0 0 100px 0;
      position: relative;
      overflow: hidden;
      .swiper-control {
        position: absolute;
        width: 1172px;
        height: 43px;
        left: 50%;
        margin: 72px 0 0 -586px;
        .swiper-prev {
          float: left;
        }
        .swiper-next {
          float: right;
        }
      }
      .swiper-container {
        width: 1080px;
        height: 232px;
        margin: 0 auto;
        overflow: hidden;
        .swiper-slide {
          width: 240px !important;
          height: 232px;
          margin: 0 15px;
          img {
            width: 100%;
            height: 180px;
            display: block;
          }
          .desc {
            color: #000;
            width: 100%;
            height: 52px;
            line-height: 52px;
            text-align: center;
            font-size: 14px;
            background-color: #fff;
          }
        }
      }
    }
  }
}