// 公共声明
@main_dark: #242031;
@main_red: #f3243c;
@main_deepRed: #a71828;
@min_width: 1400px;
// 页面样式
body {
  background-color: @main_dark;
}
.main {
  width: 100%;
  min-width: @min_width;
  height: auto;
  background: url(../img/bg.png) 100% top no-repeat;
  padding: 102px 0 0 0;
  overflow: hidden;
  .bg {
    width: 100%;
    min-width: @min_width;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    .wrapper {
      width: 1080px;
      margin: 0 auto 80px;
      .title {
        margin: 80px 0 10px 15px;
        font-family: '微软雅黑', '苹方-简', sans-serif;
        font-size: 22px;
        color: #fff;
      }
      .item {
        width: 240px;
        height: 240px;
        margin: 15px;
        display: inline-block;
        position: relative;
        .itemMask {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          bottom: 0;
          display: none;
        }
        img {
          width: 100%;
          height: 180px;
          display: block;
        }
        .desc {
          width: 100%;
          height: 60px;
          text-align: center;
          line-height: 60px;
          background-color: #fff;
          font-size: 14px;
          color: #000;
          font-family: '苹方-简', '微软雅黑', sans-serif;
        }
        &:hover {
          .itemMask {
            display: block;
          }
        }
      }
    }
  }
}