body {
  background-color: #242031;
}
.main {
  width: 100%;
  min-width: 1400px;
  height: auto;
  background: url(../img/bg.png) 100% top no-repeat;
  padding: 140px 0 0 0;
  overflow: hidden;
}
.main .bg {
  width: 100%;
  min-width: 1400px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.main .bg .wrapper {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  color: #fff;
}
.main .bg .wrapper .title {
  margin: 70px 0 50px 0;
  font-family: '微软雅黑', '苹方-简', sans-serif;
  font-size: 30px;
  color: #fff;
}
.main .bg .wrapper .container {
  background-color: #fff;
  color: #000;
  overflow: hidden;
  padding: 0 0 140px 0;
}
.main .bg .wrapper .container .headimg {
  display: block;
  width: 100%;
  height: auto;
}
.main .bg .wrapper .container .section {
  width: 1280px;
  margin: 0 auto;
}
.main .bg .wrapper .container .section .article {
  padding: 60px 0 90px;
  font-size: 30px;
  line-height: 40px;
}
.main .bg .wrapper .container .section .article p {
  line-height: 58px;
  text-align: justify;
  margin: 30px 0;
}
.main .bg .wrapper .container .section .article p:first-child {
  margin-top: 0;
}
.main .bg .wrapper .container .section .enterHome {
  display: block;
  width: 200px;
  height: 60px;
  margin: 0 auto 120px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background-color: #a71828;
}
.main .bg .wrapper .container .section .handler {
  padding: 30px 0;
  font-size: 24px;
  border-bottom: 1px solid #bdbdbd;
}
.main .bg .wrapper .container .section .star {
  width: 100%;
  height: 340px;
  margin: 50px 0 0 0;
}
.main .bg .wrapper .container .section .star img {
  width: 240px;
  height: 340px;
  vertical-align: bottom;
}
.main .bg .wrapper .container .section .star .info {
  display: inline-block;
  margin: 0 0 0 40px;
  width: 1000px;
  height: 340px;
}
.main .bg .wrapper .container .section .star .info p {
  color: #666;
  font-size: 16px;
  margin: 0 0 10px 0;
}
.main .bg .wrapper .container .section .star .info .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main .bg .wrapper .container .section .star .info .name,
.main .bg .wrapper .container .section .star .info .desc,
.main .bg .wrapper .container .section .star .info .recommand {
  margin: 0 0 40px 0;
}
.main .bg .wrapper .container .section .star .info .name {
  color: #000;
  font-size: 24px;
}
.main .bg .otherFreqTitle {
  color: #fff;
  font-size: 30px;
  width: 1400px;
  margin: 120px auto 50px;
}
.main .bg .otherFreq {
  height: 310px;
  width: 100%;
  min-width: 1560px;
  margin: 0 0 120px 0;
  position: relative;
  overflow: hidden;
}
.main .bg .otherFreq .swiper-control {
  position: absolute;
  width: 1560px;
  height: 56px;
  left: 50%;
  margin: 92px 0 0 -780px;
}
.main .bg .otherFreq .swiper-control .swiper-prev {
  float: left;
}
.main .bg .otherFreq .swiper-control .swiper-next {
  float: right;
}
.main .bg .otherFreq .swiper-container {
  width: 1440px;
  height: 310px;
  margin: 0 auto;
  overflow: hidden;
}
.main .bg .otherFreq .swiper-container .swiper-slide {
  width: 320px !important;
  height: 310px;
  margin: 0 20px;
}
.main .bg .otherFreq .swiper-container .swiper-slide img {
  width: 100%;
  height: 240px;
  display: block;
}
.main .bg .otherFreq .swiper-container .swiper-slide .desc {
  color: #000;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
}
