/* css reset */
html, body {
  padding: 0;
  margin: 0;
  font-family: '微软雅黑', '苹方-简', '苹方', sans-serif;
}
body {
  font-size: 100%;
}
a img, :link img, :visited img {
  border: 0px;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
div {
  box-sizing: border-box;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
/* 全局公用样式 */
@minWidth: 1400px;
@main_red: #f3243c;
@main_deepRed: #a71828;
@main_dark: #242031;
// 首页头部底部特殊样式
.header-index {
  // background-color: rgba(0, 0, 0, 0.4);
  background: url(../img/headerBg.png) repeat-x;
  .navigation {
    .navItem {
      &:hover {
        border-bottom: 3px solid @main_red !important;
      }
    }
  }
  .language {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}
.footer-index {
  background-color: @main_dark !important;
  .join {
    background-color: @main_deepRed !important;
    a {
      color: #fff !important;
    }
  }
}
// 头部样式
.header {
  position: absolute;
  z-index: 50;
  width: 100%;
  min-width: @minWidth;
  height: 102px;
  .content {
    margin: 0 auto;
    text-align: center;
    width: @minWidth;
    height: 102px;
    line-height: 102px;
    position: relative;
    .logo {
      // width: 220px;
      // height: 60px;
      vertical-align: middle;
    }
    .right {
      vertical-align: middle;
      display: inline-block;
      margin: 0 0 0 40px;
      height: 102px;
      line-height: 102px;
      line-height: normal;
      font-family: '微软雅黑', '苹方-简', sans-serif;
      .navigation {
        display: inline-block;
        vertical-align: middle;
        .navItem{
          color: #fff !important;
          font-size: 14px;
          display: inline-block;
          margin: 32px 10px;
          cursor: pointer;
          width: 58px;
          text-align: center;
          // height: 45px;
          line-height: 40px;
          border-bottom: 3px solid transparent;
          position: relative;
          &:hover {
            cursor: pointer;
            border-bottom: 3px solid #fff;
            .subNavi {
              display: block;
            }
          }
        }
      }
      .subNavi {
        position: absolute;
        display: none;
        margin: 3px 0 0 0;
        .subItem {
          text-align: left;
          width: 160px;
          height: 50px;
          line-height: 50px;
          padding: 0 0 0 24px;
          font-size: 14px;
          background-color:rgba(0, 0, 0, 0.75);
          &:hover {
            background-color: #f42442;
          }
        }
      }
      .search {
        width: 150px;
        height: 27px;
        line-height: 27px;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 100px;
        display: inline-block;
        margin-left: 10px;
        .icon {
          vertical-align: middle;
        }
        input {
          margin: 0 0 0 6px;
          background-color: transparent;
          width: 104px;
          height: 20px;
          border: 0;
          outline: none;
          color: #fff;
          vertical-align: middle;
          font-size: 14px;
        }
      }
      .language {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        margin: 0 0 0 20px;
        background-color: #fff;
        color: @main_red;
        font-size: 12px;
      }
    }
  }
}
// 底部样式
.footer {
  width: 100%;
  min-width: @minWidth;
  height: 244px;
  background-color: @main_deepRed;
  .content {
    width: 1040px;
    height: 244px;
    margin: 0 auto;
    .logo {
      float: left;
      // width: 240px;
      // height: 66px;
      margin: 82px 0;
    }
    .des {
      float: right;
      width: 656px;
      height: 244px;
      line-height: 244px;
      text-align: right;
      .msg {
        display: inline-block;
        color: #fff;
        font-family: '微软雅黑', sans-serif;
        margin: 0 84px 0 0;
        line-height: normal;
        vertical-align: middle;
        p {
          font-size: 12px;
          line-height: 28px;
          margin: 0 0 28px 0;
          span {
            font-size: 15px;
          }
        }
        .join {
          width: 150px;
          height: 46px;
          line-height: 46px;
          font-size: 18px;
          text-align: center;
          background-color: #fff;
          display: inline-block;
          a {
            color: @main_deepRed;
          }
        }
      }
      .qr {
        display: inline-block;
        text-align: center;
        line-height: normal;
        vertical-align: middle;
        img {
          // width: 120px;
          // height: 120px;
          margin: 0 0 10px 0;
        }
        p {
          color: #fff;
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}