/* 全局公用样式 */
.textTitle {
  font-family: '微软雅黑', '苹方-简', sans-serif;
  font-size: 34px;
  color: #dfe5e8;
  text-align: center;
  margin: 110px 0 0;
}
.more {
  width: 100px;
  height: 23px;
  font-size: 14px;
  color: #fff;
  font-family: '微软雅黑', '苹方-简', sans-serif;
}
.more img {
  margin: 0 8px 0 0;
  vertical-align: middle;
}
/* 首页轮播样式 */
.swiper {
  width: 100%;
  position: relative;
}
.swiper img {
  width: 100%;
}
.pagination {
  position: absolute;
  bottom: 14px;
  z-index: 20;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 6px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #f3243c;
}
.swiper-control {
  position: absolute;
  z-index: 10;
  width: 660px;
  height: 92px;
  top: 143px;
}
#swiper-prev,
#swiper-next {
  width: 65px;
  height: 92px;
  cursor: pointer;
}
#swiper-prev img,
#swiper-next img {
  width: 100%;
  height: 100%;
}
#swiper-prev {
  float: left;
}
#swiper-next {
  float: right;
}
.swiper-slide {
  width: 660px;
  height: 378px;
  overflow: hidden;
  position: relative;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
}
.swiper-slide .subTitle {
  width: 100%;
  height: 86px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* 图文样式 */
.Bigbanner {
  display: block;
  width: 100%;
  min-width: 1400px;
  position: relative;
}
.Bigbanner .bannerPic {
  width: 100%;
  display: block;
}
.Bigbanner .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.32);
}
.Bigbanner .bannerMask {
  position: absolute;
  width: 100%;
  height: 435px;
  background-image: url(../img/bannerMask.png);
  background-repeat: repeat-x;
  bottom: 0;
}
.info {
  width: 100%;
  min-width: 1400px;
  position: relative;
  overflow: hidden;
}
.info .news {
  width: 100%;
  min-width: 1440px;
  height: 1163px;
  background: url(../img/newsBg.png) repeat-x;
  background: linear-gradient(to bottom, #561b26, #f4243c);
  overflow: hidden;
  position: relative;
}
.info .news .hotTitle {
  font-family: '微软雅黑', '苹方-简', sans-serif;
  font-size: 34px;
  color: #dfe5e8;
  text-align: center;
  margin: 110px 0 0;
}
.info .news .hotContent .newsImg {
  display: inline-block;
  width: 660px;
  height: 378px;
  position: relative;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}
.info .news .hotContent .hotLinks {
  display: inline-block;
  height: 206px;
  width: 750px;
  vertical-align: top;
  margin: 80px 0;
}
.info .news .hotContent .hotLinks li {
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 0 110px;
  height: 42px;
  line-height: 42px;
  width: 260px;
  padding: 0 0 0 20px;
  position: relative;
}
.info .news .hotContent .hotLinks li a {
  font-size: 18px;
  font-family: '微软雅黑', '苹方-简', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.info .news .hotContent .hotLinks li a:hover {
  text-decoration: underline;
}
.info .news .hotContent .hotLinks li::before {
  content: '.';
  position: absolute;
  font-weight: bold;
  font-size: 46px;
  left: 0;
  bottom: 12px;
  vertical-align: middle;
}
.info .news .actTitle {
  font-family: '微软雅黑', '苹方-简', sans-serif;
  font-size: 34px;
  color: #dfe5e8;
  text-align: center;
  margin: 110px 0 0;
  margin: 90px 0 0 0;
}
.info .news .article {
  margin: 10px 0 0 0;
  height: 410px;
  clear: both;
  position: relative;
}
.info .news .article .line {
  position: absolute;
  right: 1160px;
  bottom: 310px;
  width: 102px;
  height: 1px;
  background-color: #fff;
}
.info .news .article .text {
  width: 390px;
  position: absolute;
  right: 750px;
  color: #fff;
}
.info .news .article .text .articleTitle {
  font-size: 30px;
  font-family: '微软雅黑', '苹方-简', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 76px 0 20px 0;
}
.info .news .article .text .details {
  width: 360px;
  color: #f0bcc0;
  line-height: 24px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.info .news .article .video {
  width: 584px;
  height: 358px;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  z-index: 2;
}
.info .news .article .moreArt {
  width: 100px;
  height: 23px;
  font-size: 14px;
  color: #fff;
  font-family: '微软雅黑', '苹方-简', sans-serif;
  position: absolute;
  right: 680px;
  bottom: 40px;
}
.info .news .article .moreArt img {
  margin: 0 8px 0 0;
  vertical-align: middle;
}
.info .news .article .rectBg {
  position: absolute;
  right: 0;
  bottom: 28px;
  z-index: 1;
}
.info .news .dimondBg {
  position: absolute;
  bottom: 0;
  left: 0;
}
.info .banners .banner {
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
  height: auto;
  position: relative;
  cursor: pointer;
}
.info .banners .banner img {
  width: 100%;
  height: auto;
  display: block;
}
.info .banners .banner .picMask {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.info .banners .banner .mask {
  display: none;
  position: absolute;
  width: 100%;
  height: 118px;
  background-color: rgba(243, 36, 60, 0.9);
  bottom: 0;
}
.info .banners .banner .mask .content {
  width: 100%;
  color: #fff;
  font-family: '微软雅黑', '苹方-简', sans-serif;
}
.info .banners .banner .mask .content .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 18px;
  line-height: 28px;
  padding: 20px 40px 0;
  text-align: justify;
}
.info .banners .banner .mask .content .date {
  padding: 6px 40px 0;
  font-size: 16px;
}
.info .banners .banner:hover .mask {
  display: block;
}
.info .banners .banner:hover .picMask {
  display: block;
}
.info .activity {
  height: 1380px;
  background-color: #a71828;
  overflow: hidden;
}
.info .activity .title {
  font-family: '微软雅黑', '苹方-简', sans-serif;
  font-size: 34px;
  color: #dfe5e8;
  text-align: center;
  margin: 110px 0 0;
}
.info .activity .item {
  width: 1130px;
  height: 440px;
  margin: 0 auto;
  display: block;
  font-family: '微软雅黑', '苹方－简', sans-serif;
  clear: both;
}
.info .activity .item img {
  float: left;
  width: 565px;
  height: 440px;
}
.info .activity .item .detail {
  float: left;
  background-color: #fff;
  width: 565px;
  height: 440px;
  padding: 80px;
  color: #4c4c4c;
}
.info .activity .item .detail .sub {
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 40px 0 30px 0;
}
.info .activity .item .detail .content {
  font-size: 18px;
  line-height: 38px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.info .activity .moreline {
  width: 1130px;
  margin: 90px auto 0;
  text-align: right;
}
.info .activity .moreline .moreAct {
  width: 100px;
  height: 23px;
  font-size: 14px;
  color: #fff;
  font-family: '微软雅黑', '苹方-简', sans-serif;
  display: inline-block;
}
.info .activity .moreline .moreAct img {
  margin: 0 8px 0 0;
  vertical-align: middle;
}
.info .frequency {
  height: 1490px;
  overflow: hidden;
  background-image: url(../img/bg_freq.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.info .frequency .title {
  font-family: '微软雅黑', '苹方-简', sans-serif;
  font-size: 34px;
  color: #dfe5e8;
  text-align: center;
  margin: 110px 0 0;
}
.info .frequency .contents {
  width: 906px;
  margin: 110px auto 0;
}
.info .frequency .contents .item {
  width: 240px;
  height: 232px;
  display: inline-block;
  margin: 0 31px 62px;
  position: relative;
}
.info .frequency .contents .item .itemMask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  display: none;
}
.info .frequency .contents .item img {
  width: 100%;
  height: 180px;
  display: block;
}
.info .frequency .contents .item p {
  width: 100%;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  color: #202020;
  background-color: #fff;
  text-align: center;
}
.info .frequency .contents .item:hover .itemMask {
  display: block;
}
.info .down {
  width: 100%;
  height: 310px;
  background-color: #a71828;
  overflow: hidden;
  clear: both;
}
.info .down .content {
  width: 844px;
  margin: 0 auto;
}
.info .down .content .name {
  width: 350px;
  height: 310px;
  line-height: 310px;
  float: left;
  color: #dfe5e8;
  text-align: left;
  font-size: 34px;
  font-family: '微软雅黑', '苹方-简', sans-serif;
}
.info .down .content .links {
  width: 345px;
  height: 310px;
  float: right;
}
.info .down .content .links img {
  margin: 50px 0 0 0;
}
.info .down .content .links a:last-child img {
  margin: 30px 0 0 0;
}
