body {
  background-color: #242031;
}
.main {
  width: 100%;
  min-width: 1400px;
  height: auto;
  background: url(../img/bg.png) 100% top no-repeat;
  padding: 102px 0 0 0;
  overflow: hidden;
}
.main .bg {
  width: 100%;
  min-width: 1400px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.main .bg .wrapper {
  width: 980px;
  height: 640px;
  margin: 0 auto;
  color: #fff;
}
.main .bg .wrapper .fail {
  display: block;
  margin: 80px auto 40px;
}
.main .bg .wrapper .msg {
  text-align: center;
  font-size: 22px;
  margin: 0 0 36px;
}
.main .bg .wrapper .msg span {
  font-weight: bold;
  color: #bf0426;
}
.main .bg .wrapper .sgst {
  font-size: 18px;
  line-height: 40px;
  width: 450px;
  margin: 0 auto;
  list-style-type: disc;
}
.main .bg .wrapper .sgst li {
  margin: 0 0 0 30px;
}
